@model Author

<h4>@Html.Label("Id") @Html.Display("Id")</h4>
<h4>@Html.Label("Name") @Html.Display("Name")</h4>
<h4>@Html.Label("Date of birth") @Html.Display("Date of birth")</h4>

@Html.Partial("Separator");
