@model PublishingHouse

<h2><label for="Id">Id: @Model.Id</label></h2>
<h4><label for="Name">@Model.Name</label></h4>

<h2>Id: @Model.Id</h2>
<h4>Name: @Model.Name</h4>
@Html.Partial("Separator");
