@model PublishingHouse

<h2>@Html.Label("Id") @Html.Display("Id")</h2>
<h4>@Html.Label("Name") @Html.Display("Name")</h4>
@if(Model.Id == 1)
            {
                <h4>This is the publishing house you have been looking for.</h4>
            }

@{ 
    PublishingHouse publishingHouse = StaticDB.PublishingHouses.SingleOrDefault(x => x.Id.Equals(1));
    <h4>@publishingHouse.Id</h4>
}

<h4>Name: @Model.Name</h4>